*,*::after,*::before{
    box-sizing:border-box;
}
.product__inner {
    background: #b092b6;
    padding:50px;
}
.container{
    margin:0 auto;
}
.main__catalog-content{
    display:flex;
}
.main__catalog-content-product
{
    margin-right: 50px;
}
.product__form{
    max-width:540px; 
    margin-bottom: 50px;
    margin-right: 50px;
    background: #41a573;
    overflow: hidden;
}
.product_list-item-text{
    font-weight: 600;
    font-size: 15px;
}
/*
.main__catalog-wrapper, .main__product-content{
    margin: 0 auto;
    display:flex;
    
}*/

ul{
    list-style: non;
}
a{
    text-decoration: none;
}
p{
    font-style: normal;
    font-size: 14px;
}
/*
    категории
*/
.product__list{
    list-style: non;
    list-style-type: none;
}
.catalog__button, .product__button{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #215f39;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    max-width: 120px;
    margin:0 auto;
}

textarea{
    resize: none;
}
input, textarea{
    background: #466c9e;
    font-weight: 400;
    color: bisque;
}
.product__button{
    margin:25px 45px 0px 45px
}
.product__list{
    margin-bottom:30px;
}
.main__catalog-content{
    padding-bottom: 50px;
}

.button__pannel{
    display:flex;
    flex-direction:column;
    padding-bottom:15px;
    justify-content: space-around;
}
.catalog__button{
    margin-top: 15px;
}

.main__catalog-content-product{
    display: flex;
    
    justify-content: space-around;
}

.main__catalog-content-title .main__product-content-title{
    font-weight: 400;
    font-size: 18px;
}
.main__catalog-content-title{
    margin-bottom:153px;
}
.main__catalog-wrapper, .main__catalog-content-produc__inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main__catalog-content-produc__inner{
   margin-left:50px;
   margin-top:50px;
}